@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

body {
  margin: 0;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 15px;
  line-height: 25px;
  font-family: "Martel Sans", sans-serif !important;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-size: 24px !important;

  line-height: 25px !important;
}
@media (max-width: 1180px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 24px !important;

    line-height: 25px !important;
  }
}
@media (max-width: 600px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 18px !important;

    line-height: 20px !important;
  }
}
